<a href="https://colab.research.google.com/github/Liz018/phyton-introduction-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mis apuntes de python
### fundamentos de programacion 202420

**Nombre: Lizeth Agudelo**

__email__:lizeth.agudelop@upb.edu.co

*Fecha de creacion:* 20 de agosto, 2024

_Excelsius_

In [11]:
# Mis primeros pasos con phyton

print("Hola mundo")


name= "Lizeth"
print(name)
age= 19
City= "Cerete"

print("hola, mi nombre es", name, "tengo", age, "años y soy de",
    City)

# numeros
a= 10
b= 2.5
c= (a + b)
print(c)
# Tipo de datos
print(type(a))

Hola mundo
Lizeth
hola, mi nombre es Lizeth tengo 19 años y soy de Cerete
12.5
<class 'int'>

In [13]:
# operaciones matematicas basicas
print(3 + 2) # suma
print(3 - 2) # resta
print(3 * 2) # multiplicacion
print(3 / 2) # division
print(3 % 2) # Modulo
print(3 ** 2) # potencia
print(3 // 2) # division entera

5
1
6
1.5
1
9
1

In [20]:
# concatenacion

name= "lizeth"
lastname= "Agudelo"
fullname= name + " " + lastname
print(fullname)
print((fullname + " ")* 3)

a= 20
print("a=", a)
b= 10
a+= b
print("a=", a)
a -= b
print("a=", a)
a *= b
print("a=", a)
a/= b
print("a=", a)

lizeth Agudelo
lizeth Agudelo lizeth Agudelo lizeth Agudelo
a= 20
a= 30
a= 20
a= 200
a= 20.0